{% extends 'base.html' %}
{% load static %}

<title>Liste des voitures</title>

{% block content %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">

<!-- Auth Links -->


<!-- Section de recherche -->
<div class="search-bar">
    <input type="text" id="search-input" placeholder="Rechercher par nom, marque ou prix...">
</div>

<!-- Liste des voitures -->
<div id="car-list">
    {% for car in cars %}
    <div class="car">
        <h2 class="nom">{{ car.marque }}</h2>
        <p class="prix">{{ car.prix_location }} F CFA</p>
        {% if car.img_vehicule %}
            <a href="{{ car.get_absolute_url }}">
                <img src="{{ car.img_vehicule.url }}" alt="{{ car.marque }}">
            </a>
        {% else %}
            <a href="{{ car.get_absolute_url }}">plus de détails</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

<script>
    // Fonction pour filtrer les voitures
    document.getElementById('search-input').addEventListener('keyup', function() {
        let input = document.getElementById('search-input').value.toLowerCase();
        let cars = document.querySelectorAll('.car');

        cars.forEach(function(car) {
            let carName = car.querySelector('.nom').innerText.toLowerCase();
            let carPrice = car.querySelector('.prix').innerText.toLowerCase();

            // Vérifie si le texte de recherche correspond à la marque ou au prix
            if (carName.includes(input) || carPrice.includes(input)) {
                car.style.display = ""; // Affiche la voiture
            } else {
                car.style.display = "none"; // Cache la voiture
            }
        });
    });
</script>

{% endblock %}
