/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('{% static 'main/images/img_background.png' %}') no-repeat center fixed;
    background-size: cover;
    color: #333;
}
img{
    max-width:300px;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFAA00;
}

/* Hero Section */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.hero-text h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    color: #CCCCCC;
    margin-bottom: 40px;
}

.cta-button {
    background-color: #FFAA00;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #FF8800;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}


.auth-links {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
}

.auth-links span {
    color: white; /* Couleur du nom d'utilisateur */
    margin-right: 10px; /* Espace entre le nom d'utilisateur et les liens */
}

.auth-links a {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.auth-links a:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Couleur au survol */
}