{% extends 'base.html' %}
{% load static %}

<title>S'inscrire</title>
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
<section>
    <div class="imgBx">
        <img src="{% static 'menu/images/image_logo.jpg' %}" alt="Image Logo">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Récupération de mot de passe</h2>
            <form method="POST" id="signupForm">
                {% csrf_token %}
                <div class="inputBx">
                    <span>Email</span>
                    <input type="email" name="email" required />
                </div>



                <div class="inputBx">
                    <input type="submit" value="Envoyer le lien de confirmation" />
                </div>

            </form>
        </div>
    </div>
</section>
<script>
    document.getElementById('signupForm').addEventListener('submit', function(event) {
        var email = document.getElementById('email').value;
        var confirmEmail = document.getElementById('confirmEmail').value;

        if (email !== confirmEmail) {
            event.preventDefault();  // Empêche la soumission du formulaire
            alert('Les adresses email ne correspondent pas.');  // Alerte l'utilisateur
        }
    });
</script>
{% endblock %}
