{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    /* Styles pour la section hero */
  .hero {
        background-image: url('{% static "menu/images/background_.jpg" %}');
        background-size: 50% auto; /* Redimensionner l'image à 50% de sa largeur d'origine */
        background-size: cover; /* L'image couvrira toute la section */
        background-position: center;
        background-repeat: no-repeat;
        background-position: center;
        height: 65vh; /* Hauteur de la section hero */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .hero-text {
        color: white;
        background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent pour le texte */
        padding: 30px;
        border-radius: 10px;
    }

    .hero-text h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .cta-button {
        display: inline-block;
        padding: 12px 24px;
        font-size: 1rem;
        color: #fff;
        background-color: #ff4584;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .cta-button:hover {
        background-color: rgba(255, 170, 0, 1);
    }

    /* Styles responsives */
    @media (max-width: 768px) {
        .hero-text h2 {
            font-size: 2rem; /* Taille de police réduite pour les petits écrans */
        }

        .hero-text p {
            font-size: 1rem; /* Taille de police réduite pour les petits écrans */
        }

        .cta-button {
            padding: 10px 20px; /* Réduire le padding pour les petits écrans */
            font-size: 0.9rem; /* Taille de police réduite pour les petits écrans */
        }
    }

    @media (max-width: 480px) {
        .hero-text h2 {
            font-size: 1.5rem; /* Taille de police encore plus réduite pour les très petits écrans */
        }

        .hero-text p {
            font-size: 0.9rem; /* Taille de police encore plus réduite pour les très petits écrans */
        }
    }
</style>

<main>
    <section class="hero">
        <div class="hero-text">
            <h2>VENTE ET LOCATION DE VÉHICULE – PRESTATION DE SERVICES</h2>
            <p>Découvrez notre flotte de véhicules disponibles pour tous vos besoins de transport.</p>
            <a href="{% url 'index' %}" class="cta-button">Visiter les voitures</a>
        </div>
    </section>
</main>
{% endblock %}
